# =============================================================================
# GENERAL CONFIGURATIONS
# =============================================================================
TIMEZONE=Asia/Ho_Chi_Minh
AIRFLOW_UID=50000

# =============================================================================
# DATABASE CREDENTIALS & CONNECTIONS
# =============================================================================
# Airflow Operational Database
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

# Core Core Business Database (PostgreSQL)
POSTGRES_USER=finhouse
POSTGRES_PASSWORD=finhouse
POSTGRES_DB=finhouse

# Real-time OLAP Database (ClickHouse)
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=admin
CLICKHOUSE_DB=finhouse

# Hive Metastore Backend Database
HIVE_DB_USER=hive
HIVE_DB_PASSWORD=hive123
HIVE_DB_NAME=metastore

# BI Apache Superset Metadata Database
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset
SUPERSET_DB_NAME=superset
SUPERSET_SECRET_KEY=supersecretkey

# Object Storage (MinIO)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=supersecretpassword
AWS_DEFAULT_REGION=us-east-1

# =============================================================================
# AIRFLOW EXTERNAL CONNECTIONS (GENERIC URI)
# =============================================================================
# Formats: generic://, trino://, postgresql://, spark://
AIRFLOW_CONN_CLICKHOUSE_FINHOUSE=generic://admin:admin@clickhouse:9000
AIRFLOW_CONN_TRINO_FINHOUSE=trino://admin@trino:8080/hive
AIRFLOW_CONN_POSTGRES_FINHOUSE=postgresql://finhouse:finhouse@postgres:5432/finhouse
AIRFLOW_CONN_SPARK_STANDALONE_CLUSTER=spark://spark-master:7077